*{
    padding:0%;
    margin:0%;
    box-sizing:border-box;
    }
    body{
    width:100vw;
    height:100vh;
    }
    #b0Dy{
    width:100%;
    height:100%;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    /* background: url("https://e1.pxfuel.com/desktop-wallpaper/1012/277/desktop-wallpaper-3d-clock-posted-by-ryan-cute.jpg") 50% 50% repeat scroll border-box; */
    }
    .root_UMV{
    background-color: rgb(79, 182, 241,0);
     color: black;
     height: 100%;
     width: 100%;
     border: 0px solid black;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     margin-bottom: 1px;
     background: url("https://images.unsplash.com/photo-1526392587392-d1627b6c134a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") 50% 50% repeat scroll border-box;
    }
    .clock_content_UMV{
    background-color: rgb(190, 77, 63,0.4);
     height: 100%;
     width: 90%;
     border: 0px solid black;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-direction: column;
    }
    .curr_time_UMV{
    background-color: white;
     width: 45%;
     border: 0px solid black;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height: 40%;
     margin-bottom: 0%;
     border-radius: 7px;
     font-size: 200%;
     box-shadow: rgba(0, 0, 0, 0.5) -3px 4px 11px -1px;
     /* background-image: linear-gradient(167deg, rgba(250, 224, 56, 0.2), rgba(228, 231, 29, 0.4), rgba(251, 255, 20, 0.7)); */
    }
    .set_todo_UMV{
    background-color: white;
     width: 45%;
     border: 0px solid black;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: column;
     height: 40%;
     margin-bottom: 0%;
     border-radius: 7px;
     box-shadow: rgba(0, 0, 0, 0.5) -3px 4px 11px -1px;
     /* background-image: linear-gradient(167deg, rgba(250, 224, 56, 0.2), rgba(228, 231, 29, 0.4), rgba(251, 255, 20, 0.7)); */
    }
    .add_todo_UMV{
    background-color: rgb(0, 0,0,1);
     height: 28%;
     width: 100%;
     border: 0px solid black;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin: 0%;
     border-bottom-left-radius: 7px;
     border-bottom-right-radius: 7px;
     }
    .add_button_UMV{
    background-color: rgb(134, 231, 201,0);
     height: 74%;
     border: 1px solid black;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     aspect-ratio: 1 / 1;
    }
    .list_content_par_UMV{
    background-color: rgba(138, 255, 53, 0.4);
     height: 100%;
     width: 68%;
     border: 0px solid black;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-direction: column;
     /* padding: 2% 0%; */
    }
    .list_content_UMV{
        background-color: rgb(242, 151, 218,0);
         height: 100%;
         width: 100%;
         border: 0px solid black;
         display: block;
         scroll-behavior:smooth;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         overflow-y: scroll;
        }
        /* css scrollbar-hide code */  #list_content::-webkit-scrollbar{
        display:none;
        }
        